body.article {
  section.top {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $breakpoint-medium) {
      margin-bottom: 70px;
      height: 985px;
    }

    .bg {
      width: 100%;
      height: 250px;
      background-position: center;
      background-size: cover;

      @media (min-width: $breakpoint-medium) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }

    .uk-container {
      background: #4da18d;

      @media (min-width: $breakpoint-medium) {
        background: transparent;
      }
    }

    h1 {
      font-size: 3.35rem;
      line-height: 1.2;
    }

    .read-time {
      width: 255px;
      padding-top: 0.5em;
      margin-top: 1em;
      margin-bottom: 25px;
      border-top: 2px solid $black;
    }

    .scroll-down {
      cursor: pointer;
    }
  }

  section.tags {
    .uk-container {
      border-top: 2px solid $black;
      //border-bottom: 2px solid $black;
    }
    
    .tags {
      padding-top: 60px;
      padding-bottom: 60px;
      
      h4 {
        margin-bottom: 1.5em;
      }

      .uk-button {
        margin-right: 10px;

        @media (min-width: $breakpoint-medium) {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .uk-flex-left {
    .uk-width-2-3\@m {
      p {
        font-size: 1.8rem;

        @media (min-width: $breakpoint-medium) {
          font-size: 0.9rem;
        }

        &.uk-text-large {
          font-size: 2.0rem;
          line-height: 1.5;

          @media (min-width: $breakpoint-medium) {
            font-size: 1.2rem;
          }
        }
      }

      .quote {
        position: relative;
        background: #4da18d;

        &:before, &:after {
          content: "";
          position: absolute;
          left: -30px;
          top: 0;
          display: block;
          width: 30px;
          height: 100%;
          background: #4da18d;
        }

        &:after {
          left: 100%;
        }

        img {
          width: 110px;
        }
      }
    }

    .uk-width-1-3\@m {
      text-align: left;
      
      @media (min-width: $breakpoint-medium) {
        text-align: right;
        padding-right: 100px;
      }

      h4 {
        font-size: 1.6rem;
        line-height: 1.25;
        margin-bottom: 0;

        @media (min-width: $breakpoint-medium) {
          font-size: 1.2rem;
        }
      }

      .uk-button {
        padding: 5px 15px 7px;
        font-size: 1.4rem;
        line-height: 1.2;

        @media (min-width: $breakpoint-medium) {
          font-size: 1.2rem;
          line-height: 1;
        }
      }

      .categories {
        margin-bottom: 0.5em;

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 55px;
        }
       
        h4 {
          color: #8a8a8a;
          font-weight: 300;

          @media (min-width: $breakpoint-medium) {
            color: $global-color;
            font-weight: normal;
            margin-bottom: 0.5em;
          }
        }

        .uk-button {
          @media (max-width: $breakpoint-medium) {
            background: none;
            border: 0;
            padding: 0;
            color: #8a8a8a;
            font-size: 1.6rem;
            font-weight: 300;
          }
        }
      }

      .author {
        h4 {
          display: inline-block;
          
          &.uk-width-1-1\@m {
            font-weight: 600;
            margin-right: 3px;

            @media (min-width: $breakpoint-medium) {
              font-weight: normal;
              margin-right: 0;
            }
          }

          @media (min-width: $breakpoint-medium) {
            display: block;
          }
        }

        p {
          font-size: 1.6rem;

          @media (min-width: $breakpoint-medium) {
            font-size: 0.85rem;
            margin-top: 0.5em;
          }
        }
      }

      .quote {
        display: none;
        margin-top: 140px;

        @media (min-width: $breakpoint-medium) {
          display: block;
        }

        h4 {
          margin: 30px auto;
          text-transform: uppercase;
          letter-spacing: 0.25px;
          line-height: 1.75;
        }
      }
    }
  }
}