body.bilans {
  section.top {
    background-color: #fafafa;
    background-image: url(../img/bilans_bg_m.png);

    @media (min-width: $breakpoint-medium) {
      background-image: url(../img/bilans_bg.png);
    }
  }

  .uk-section.light-blue {
    .uk-width-1-2\@m {
      &:first-of-type {
        @media (min-width: $breakpoint-medium) {
          padding-right: 40px;
        }
      }

      &:last-of-type {
        @media (min-width: $breakpoint-medium) {
          padding-left: 40px;
        }
      }
    }
  }

  .uk-width-1-2\@m {
    position: relative;
    // max-width: 600px;

    p {
      font-size: 1.6rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
      }
    }

    @media (max-width: $breakpoint-medium) {
      &:first-of-type {
        padding-bottom: 40px;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 1px;
          width: 100vw;
          transform: translate3d(-50%, 0, 0);
          background: $black;
        }
      }

      &:last-of-type {
        padding-top: 40px;
      }

      .uk-button {
        @include centered-button();
      }
    }
  }
}
