body.biznes {
  section.top {
    background-color: #d2d2d2;
    background-image: url(../img/buisness_bg_m.png);

    @media (min-width: $breakpoint-medium) {
      background-image: url(../img/biznes_bg.png);
    }
  }

  .uk-width-1-2\@m {
    @media (min-width: $breakpoint-medium) {
      max-width: 493px;
    }
  }
}
