body {
  &.blog,
  &.article {
    .teaser {
      margin-bottom: 80px;

      .inner {
        width: 100%;

        @media (min-width: $breakpoint-medium) {
          width: 569px;
        }

        .image {
          display: block;
          width: 100%;
          height: 260px;
          background-position: center;
          background-size: cover;

          @media (min-width: $breakpoint-medium) {
            height: 424px;
            margin-bottom: 16px;
          }
        }

        .details {
          @media (max-width: $breakpoint-medium) {
            background: #fafafa;
          }

          @media (min-width: $breakpoint-medium) {
            padding: 0;
          }
          
          .title {
            font-size: 20px;
            line-height: 24px;
          }
  
          .desc {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            margin: 10px 0 8px;
          }
  
          .time {
            font-size: 14px;
            line-height: 24px;
            color: #8a8a8a;
            font-weight: 300;

            @media (max-width: $breakpoint-medium) {
              order: -1;
              margin-bottom: 0.5em;
            }
          }
        }
      }

      &.small, &.big {
        .inner {
          .uk-button {
            font-size: 16px;
            padding: 5px 40px 7px 12px;
            margin-top: 10px;
  
            &:hover {
              padding-right: 45px;
            }

            img {
              @media (min-width: $breakpoint-medium) {
                width: 22px;
                height: auto;
                right: 10px;
                left: auto;
                transform: translateY(-50%);
              }
            }
          }
        }
      }

      &.small {
        @media (min-width: $breakpoint-medium) {
          margin-bottom: 64px;
        }

        .inner {
          width: 100%;

          @media (min-width: $breakpoint-medium) {
            width: 258px;
            margin: 0 auto 0 0;
          }

          .uk-button {
            @media (max-width: $breakpoint-medium) {
              font-size: 0;
              width: 46px;
              height: 46px;
              padding: 0;
            }

            img {
              @media (max-width: $breakpoint-medium) {
                right: auto;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
              }
            }
          }

          .image {
            width: 100%;
            height: 208px;
          }
        }
      }

      &.big {
        @media (max-width: $breakpoint-medium) {
          order: -1;
        }

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 0;
        }

        .inner {
          @media (min-width: $breakpoint-medium) {
            width: 877px;
            margin: 0 0 0 auto;
          }

          .image {
            width: 100%;
            height: 250px;
            order: 99;

            @media (min-width: $breakpoint-medium) {
              height: 673px;
              order: -1;
            }
          }

          .details {
            @media (max-width: $breakpoint-medium) {
              background: #ffdd62;
            }

            .title {
              @media (max-width: $breakpoint-medium) {
                font-size: 3.8rem;
                line-height: 1.2;
              }
            }
  
            .time {
              @media (max-width: $breakpoint-medium) {
                width: 200px;
                padding-top: 25px;
                margin-top: 10px;
                margin-bottom: 15px;
                border-top: 2px solid $black;
                color: $global-color;
                font-size: 2.4rem;
                line-height: 1.5;
              }
            }
  
            .uk-button {
              @media (max-width: $breakpoint-medium) {
                width: auto;
                padding: 8px 52px 10px 20px;
                font-size: 2.2rem;
                line-height: 1.2;
              }
            }
          }
        }
      }

      &.uk-width-1-2 {
        &:nth-child(2n+1) {
          .inner {
            margin: 0 auto 0 0;
          }
        }

        &:nth-child(2n+2) {
          .inner {
            margin: 0 0 0 auto;
          }
        }

        .uk-button {
          img {
            right: auto;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);

            @media (min-width: $breakpoint-medium) {
              left: auto;
              right: 10px;
              transform: translateY(-50%);
            }
          }
        }
      }

      &.uk-width-1-3 {
        margin-bottom: 0;

        &:nth-child(3n + 1) {
          .inner {
            margin: 0 auto 0 0;
          }
        }

        &:nth-child(3n + 2) {
          .inner {
            margin: 0 auto;
          }
        }

        &:nth-child(3n + 3) {
          .inner {
            margin: 0 0 0 auto;
          }
        }

        .inner {
          width: 362px;

          .image {
            width: 100%;
            height: 291px;
          }
        }

        .uk-button {
          img {
            right: auto;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);

            @media (min-width: $breakpoint-medium) {
              left: auto;
              right: 10px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    .grid {
      & > div {
        @media (max-width: $breakpoint-medium) {
          flex-direction: column;
        }
      }
      
      &.popular {
        padding-top: 40px;

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 130px;
        }

        h4 {
          margin-bottom: 60px;
        }
      }
    }
  }
}
