.page {
  p {
    margin: 0 0 20px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.privacy {
    .uk-section {
      ul {
        list-style-type: decimal;
        padding-left: 45px;

        ul {
          list-style-type: lower-alpha;
        }

        li {
          padding-left: 5px;
        }
      }
    }
  }

  .top {
    min-height: 644px;
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;

    h2 {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    @media (min-width: $breakpoint-medium) {
      min-height: 1000px;
    }

    .uk-button {
      font-size: 1.6rem;
    }
  }

  .uk-width-1-2 {
    max-width: 490px;
  }

  .uk-accordion {
    margin-top: 64px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

[data-slide="tran4"] {
  .uk-form-controls {
    .uk-form-label  {
      font-size: 18px;

      &:first-of-type {
        font-size: 24px;
      }
    }
  }
}

[data-slide="trav2"] {
  form {
    display: none;

    &.estimate {
      label {
        font-size: 20px;
      }
    }
  }
}

p, h4 {
  a {
    color: $global-color;
    font-weight: 700;

    &:hover {
      color: $global-color;
    }

    svg, img {
      position: relative;
      left: 0;
      margin-top: -4px;
      margin-left: 5px;
      margin-right: 8px;
      transition: 0.4s left;
    }

    &:hover {
      text-decoration: none;

      img {
        left: 5px;
      }
    }
  }
}

body.eng {
  .input-wrapper {
    width: 98px;

    @media (min-width: $breakpoint-medium) {
      width: 150px;
    }
  }
}
