body.contact {
  @media (min-width: $breakpoint-medium) {
    .uk-container {
      &.done, &.fail {
        min-height: 50vh;
      }
    }
  }
  

  .input-wrapper {
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: 100%;
    }
  }

  .uk-textarea,
  .uk-input {
    background: inherit;
    transition: none;

    &:focus {
      background: inherit;
    }
  }
}
