@media screen and (max-width: 991px) {

  html, body {
    position: relative;
    max-width: 100%;
  }

  body {
    min-width: 320px;
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  header,
  main,
  footer {
    max-width: 100%;
  }

}


body.blog#blog-page {

  .filters-opener, .close-filters, .blog-page__articles-filters--sort {
    display: none;
  }

  @media screen and (max-width: 991px) {

    .uk-container {
      max-width: 100%;
    }

    .uk-button {
      position: relative;
      height: 48px;
      padding: 5px 65px 10px 35px;
      line-height: 1;
    }


    .blog-page {

      &__main-content {
        display: flex;
        flex-direction: column;
      }


      &__section {
        order: 2;

        .uk-container {
          padding: 0;
        }

        h1 {
          margin-bottom: 10px;
          font-size: 38px;
          font-weight: 500;
          line-height: 42px;
        }

      }


      &__articles-filters {

        order: 1;
        display: flex;
        padding: 15px 0;
        border-bottom: 2px solid #000;
        background: #FFF;

        .filters-opener {
          display: block;
          position: relative;
          margin: 10px auto;
          padding: 0 30px;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          color: #000;
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            zoom: 1;
            content: url('../img/arrow_d.svg');
          }
        }

        .close-filters {
          display: none;
          position: relative;
          width: 40px;
          height: 40px;
          margin: 15px 30px 30px;
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: url('../img/arrow_l.svg');
            zoom: 1;
          }
        }

        .uk-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &--filters, &--categories {
          justify-content: flex-start;
        }

        &--filters {
          display: none;
        }

        &--categories {

          display: none;
          order: 1;
          margin-bottom: 0;
          padding: 0 30px 10px;
          border-top: none;
          border-bottom: 2px solid #000;

        }

        &--sort {

          display: none;
          order: 2;
          padding: 20px 30px 10px;

          .option {
            margin: 10px 0 20px;
          }

          .sort-options-label {
            margin-bottom: 20px;
          }

          .sort-option-value {
            display: inline-block;
            vertical-align: top;
            height: 32px;
            margin-right: 10px;
            padding: 5px 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            border: 2px solid #606060;
            border-radius: 22px;
            box-sizing: border-box;
            color: #606060;
          }

        }

        .filters-options-label, .sort-options-label {
          display: block;
          flex: 1 1 100%;
          margin: 0 0 15px;
          font-size: 15px;
          font-weight: 500;
          color: #707070;
        }

        .uk-button {
          height: 32px;
          margin: 0 10px 20px 0;
          padding: 5px 10px;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
        }

        &--categories-label {
          display: none;
        }

      }

      &__main-article {

        height: auto;
        padding: 40px 30px 200px;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 140% auto;
        background-color: #D2D2D2;

        h1, p:not(.read-time) {
          max-width: 90%;
        }

        p:not(.read-time) {
          margin: 0;
          font-size: 16px;
          line-height: 24px;
        }

        p.read-time {
          display: inline-block;
          margin-top: 10px;
          padding-top: 25px;
          padding-right: 40px;
          border-top: 2px solid #000;
        }

        button {
          display: block;
        }

      }


      &__articles-list, &__most-popular {

        padding: 80px 0 0;

        .uk-flex-column, .uk-flex-between, .uk-flex-wrap, .uk-width-1-4, .uk-width-3-4, .uk-width-1-2 {
          flex: 1 1 100%;
          width: 100%;
        }

        .uk-flex-between {
          flex-direction: column;
        }

        .uk-width-1-4 {
          order: 2;
        }

        .uk-width-3-4 {
          order: 1;
        }

        .teaser.big {
          padding: 0 30px;
          margin-bottom: 80px;
          background-color: #D2D2D2;

          @media (min-width: $breakpoint-medium) {
            padding: 0;
          }

          .inner {

            display: flex;
            flex-direction: column;
            width: 100%;

            .image {
              order: 2;
              height: auto;
              min-height: 200px;
              background-position: bottom center;
              background-repeat: no-repeat;
              background-size: 140% auto;
            }

            .title, .desc {
              max-width: 90%;
            }

            .title {
              margin-top: 40px;
              margin-bottom: 10px;
              font-size: 38px;
              font-weight: 500;
              line-height: 42px;
            }

            .desc {
              margin: 0;
              font-size: 16px;
              line-height: 24px;
            }

            .time {
              margin: 10px auto 10px 0px;
              padding: 25px 40px 0 0;
              font-size: 18px;
              color: #000;
              border-top: 2px solid #000;
            }

            button {
              display: block;
              align-self: flex-start;
              font-size: 24px;
            }
          }
        }

        .teaser:not(.big) {

          margin-bottom: 80px;
          background-color: #FAFAFA;

          &:last-child {
            margin-bottom: 40px;
          }

          .inner {

            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 25px;

            .title, .image, .desc, .time, button {
              max-width: 100%;
              text-align: center;
              box-sizing: border-box;
            }

            .title, .image, .desc {
              padding: 0 30px;
            }

            .image {
              order: 1;
              height: 250px;
              margin-bottom: 20px;
              padding: 0 30px;
              background-position: center;
            }

            .title {
              order: 3;
              margin-bottom: 10px;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
            }

            .time {
              order: 2;
              margin: 0 0 10px;
              text-transform: uppercase;
            }

            .desc {
              order: 4;
              font-size: 16px;
              line-height: 20px;
            }

            button {
              order: 5;
              align-self: center;
              width: 46px;
              height: 46px;
              padding: 46px 46px 0 0;
              border-radius: 50px;
            }
          }
        }
      }


      &__uk-pagination {

        margin: 0 0 60px;

        li {

          height: 40px;
          padding: 0;

          a, span {
            padding: 0 10px;
            font-size: 40px;
            color: #000;
            line-height: 35px;
          }

          &.uk-active {
            span {
              font-weight: 700;
              text-decoration: underline;
            }
          }

          .uk-pagination-previous, .uk-pagination-next  {
            svg {
              width: 20px;
              height: 50px;
              margin-top: -5px;
              vertical-align: top;
            }
          }

          &.previous {
            margin-right: 10px;
          }

          &.next {
            margin-left: 10px;
          }

          &.item {
            border-right: 3px solid #000;
            &.last {
              border-right: none;
            }
          }

        }

      }


      &__most-popular {

        padding: 64px 0 64px 30px;
        overflow-x: scroll;
        border-top: 2px solid #000;

        .popular {
          padding: 0;
          border-top: none;
          h4 {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 600;
          }
        }

        .uk-flex-between {
          flex-direction: row;
        }

        .uk-width-1-3 {

          flex: 0 0 100%;
          width: 100%;
          max-width: 263px;
          height: 100%;
          margin-right: 30px;
          margin-bottom: 0;
          overflow: hidden;

            .title {
              padding: 0 15px!important;
            }

            .desc {
              padding: 0 10px!important;
            }

        }

      }


    }
  }

}
