body.offset {
  .yellow {
    background-color: #e5cc52;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .uk-section {
    &.uk-flex {
      min-height: 784px;

      .inner {
        @media (min-width: $breakpoint-medium) {
          max-width: 493px;
        }
      }
    }

    .uk-container {
      & > .uk-width-1-2 {
        max-width: 568px;
        width: 100%;
      }
    }
  }

  .offset-project {
    border: 2px solid lighten($black, 0.6);

    .offset-project__title {
      cursor: pointer;

      h3 {
        margin-bottom: 0;
        font-size: 1.6rem;
        font-weight: bold;

        span {
          position: relative;
          display: inline-block;
          width: 0.7em;
          height: 0.7em;
          border: 3px solid $black;
          border-radius: 50%;

          &:after {
            content: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 50%;
            height: 50%;
            background-color: $black;
            border-radius: 50%;
          }
        }
      }
    }

    .offset-project__image {
      height: 330px;
      background-size: cover;
      background-position: center;
    }

    .offset-project__payment {
      opacity: 0.6;

      .amount {
        font-size: 3.35rem;
        font-weight: bold;

        span {
          font-size: 0.5em;
        }
      }

      .buttons-wrapper {
        .uk-button {
          padding: 8px 75px 10px 75px;
          font-size: 0.9rem;
          text-align: center;

          &.active {
            background-color: $black;
            color: $white;
          }

          &.uk-width-1-1 {
            font-size: 1.6rem;
          }

          &.blocked {
            opacity: 1;
          }
        }
      }
    }

    &.active {
      border: 4px solid $black;

      .offset-project__payment {
        opacity: 1;
      }

      .offset-project__title {
        h3 {
          span {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }
}
