body.register {
  h1 {
    font-size: 3.2rem;
    line-height: 1.7;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 0;

    a {
      font-weight: normal;
    }
  }

  .social {
    .uk-button {
      width: 100%;
      max-width: 495px;
      padding: 10px 35px 12px 35px;
      font-size: 1.1rem;
      line-height: 1;
    }
  }
}

body.register,
body.user-profile {
  .form-wrapper {
    width: 100%;
    max-width: 495px;

    .input-wrapper {
      width: 100%;
      padding: 0;
      border: 2px solid transparent;
      border-bottom-color: $black;

      &:before, &:after {
        bottom: -2px;
        height: 10px;
      }

      &:before {
        left: -2px;
      }

      &:after {
        right: -2px;
      }

      &.focus {
        border-color: $black;

        label {
          top: 0;
          left: 8px;
          font-size: 0.7rem;
          background: $pink;
        }
      }

      label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        padding: 0 8px;
        font-size: 1.2rem;
        color: lighten($black, 40%);
      }

      .uk-input {
        padding: 10px 8px;
        background: $pink;
        border: 0;
        font-size: 1.2rem;
      }
    }

    &.has-danger {
      .input-wrapper {
        border-bottom-color: $red;
      }
    }

    &.has-success {
      .input-wrapper {
        border-bottom-color: #03a317;
      }
    }
  }
}
