body.ters {
  section.top {
    background-color: #fafafa;
    background-image: url(../img/ters_bg_m.png);

    @media (min-width: $breakpoint-medium) {
      background-image: url(../img/ters_bg.png);
    }
  }
}
