$accordion-title-color: $global-color;
$accordion-icon-margin-left: 20px;

$accordion-content-margin-top: 10px;

@mixin hook-accordion {
  &:not(.tab-items) {
    li {
      position: relative;
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 2px solid $black;
    }
  }
}

@mixin hook-accordion-title {
  &.flight-name {
    font-size: 40px;
    line-height: 78px;
    padding: 0 $accordion-icon-margin-left 0 $accordion-icon-margin-left;
    overflow: hidden;
  }
}

@mixin hook-accordion-item {
  margin-top: 0;
}

@mixin hook-accordion-misc {
  body:not(.calculator) {
    .uk-accordion-title {
      position: relative;
      padding-right: 50px;
      font-size: 1.6rem;
      line-height: 1.5;

      @media (min-width: $breakpoint-medium) {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      &:after, &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translate3d(0, -50%, 0);
        width: 16px;
        height: 2px;
        background: $black;

        @media (min-width: $breakpoint-medium) {
          width: 40px;
          height: 4px;
          right: 0;
        }
      }

      &:before {
        width: 2px;
        height: 16px;
        right: 11px;

        @media (min-width: $breakpoint-medium) {
          width: 4px;
          height: 40px;
          right: 17px;
        }
      }
    }

    .uk-accordion-content {
      padding: 30px 0;
      font-size: 1.6rem;
      line-height: 1.5;

      @media (min-width: $breakpoint-medium) {
        font-size: 0.9rem;
        line-height: 1.4;
      }
    }

    .uk-accordion li.uk-open .uk-accordion-title {
      &:before {
        content: none;
      }
    }
  }
}
