@mixin hook-base-h1 {
  line-height: 1.25;
  font-weight: normal;
  margin-bottom: 5px;
}

@mixin hook-base-h2 {
  line-height: 1.15;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0.5em;
  }
}

@mixin hook-base-h3 {
  line-height: 1.5;
  font-weight: normal;
}

@mixin hook-base-h4 {
  line-height: 1.5;
  font-weight: normal;
  margin-top: 0;
}

@mixin hook-base-h5 {
  font-weight: 700;
  margin-bottom: 1.5em;

  @media (min-width: $breakpoint-medium) {
    font-size: 0.9rem;
  }
}

@mixin hook-base-body {
  body {
    position: relative;
    overflow-y: scroll;
    font-size: 1.6rem;
    line-height: 1.5;

    @media (min-width: $breakpoint-medium) {
      min-height: 100vh;
      padding-top: 95px;
      box-sizing: border-box;
      font-size: 0.9rem;
    }
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 20px;
  }
}
