// $button-font-size: 32px;
// $button-line-height: 1.2;

@mixin black-button {
  background: $black;
  color: $white;

  &:hover {
    color: $white;
  }
}

@mixin white-button {
  background: $white;
  color: $global-color;

  &:hover {
    color: $global-color;
  }

  svg {
    .a {
      stroke: $black;
    }
  }

  &.uk-active {
    @include black-button();
  }
}

@mixin centered-button {
  width: auto;
    padding: 8px 52px 10px 20px;

    @media (min-width: $breakpoint-medium) {
      padding: 10px 85px 12px 35px;
      margin-left: 0px;
      transition: 0.4s margin-left, 0.4s padding-right;

      &:hover {
        margin-left: 10px;
      }
    }
}

@mixin hook-button {
  position: relative;
  width: 100%;
  padding: 8px 30px 10px 30px;
  border: 2px solid $black;
  border-radius: 31px;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;

  @media (min-width: $breakpoint-medium) {
    width: auto;
    padding: 10px 85px 12px 35px;
    border-radius: 31px;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 300;
    transition: 0.4s padding-right;

    &:not(.blocked):hover {
      padding-right: 95px;
    }
  }

  @include black-button();

  svg, img {
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    width: 22px;

    @media (min-width: $breakpoint-medium) {
      right: 30px;
      width: 32px;
      right: 35px;
    }

    .a,
    .b {
      fill: none;
    }

    .a {
      stroke: $white;
      stroke-miterlimit: 10;
      stroke-width: 2.5px;
    }
  }

  &.white {
    @include white-button();
  }

  &.transparent {
    background: transparent;
    color: $global-color;

    svg {
      .a {
        stroke: $black;
      }
    }
  }

  &.next, &.previous {
    font-size: 1.8rem;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.6rem;
    }

    img {
      width: 23px;

      @media (min-width: $breakpoint-medium) {
        width: auto;
      }
    }
  }

  &.next {
    width: 166px;
    margin-right: 0;
    padding: 6px 21px 7px;

    @media (min-width: $breakpoint-medium) {
      width: 268px;
      margin-right: 11px;
      padding: 8px 42px 10px;
      transition: 0.4s margin-right, 0.4s width;

      &:hover {
        margin-right: 0;
        width: 279px;
      }
    }
  }

  &.previous {
    width: 77px;
    padding: 0;

    @media (min-width: $breakpoint-medium) {
      width: 85px;
      transition: 0.4s opacity;

      &:hover {
        opacity: 0.6;
        padding-right: 0;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(-180deg);
    }
  }

  &.centered {
    @include centered-button();
  }

  &.blocked {
    opacity: 0.5;
    cursor: default !important;
  }

  &.small {
    font-size: 1rem;
    padding: 4px 18px 8px;

    &:hover {
      padding-right: 18px !important;
    }
  }
}

@mixin hook-button-misc {}
