.yellow {
  background-color: #f9e66a;
}

.gray {
  background-color: #dedede;
}

.dark-gray {
  background-color: #d2d2d2
}

.light-blue {
  background-color: #94CCE0;
}

.yellow {
  background-color: #ffdd62
}

.gray {
  background-color: #d2d2d2
}

.blue {
  background-color: #5B61FF;
}

.pink {
  background-color: #f7b5b7;
}

.col-width {
  @include col-width;
}

::selection {
  background: $black;
  color: $white;
}

h2 {
  .tooltip {
    margin-right: 40px;

    &:after {
      width: 24px;
      height: 24px;
      border-width: 3px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 28px;
  color: rgba($global-color, 0.4);
  cursor: pointer;

  &:after {
    content: "?";
    width: 18px;
    height: 18px;
    border: 2px solid rgba($global-color, 0.4);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 4px;
    transform: translate3d(0, -50%, 0);
    font-size: 12px;
    line-height: 18px;
  }
}

.tooltip-content {
  display: none;
  position: absolute;
  top: 100%;
  padding: 18px 12px;
  margin-top: 6px;
  border: 2px solid $black;
  box-sizing: border-box;
  background: $white;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $global-color;
  z-index: 1;

  @media (min-width: $breakpoint-medium) {
    padding: 36px;
    font-size: 0.7rem;
  }

  img { 
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 22px;
    margin-left: -11px;
  }
}