$breakpoint-medium: 1200px;

$black: #000;
$white: #fff;
$mint-green: #66C1BE;
$red: #D60000;
$pink: #f7b5b7;

$global-color: $black;
$global-font-family: "sofia-pro",
sans-serif;

$base-body-font-weight: 400;
$base-body-font-size: 10px;
$base-body-line-height: 1.5;

$base-hr-margin-vertical: 0;

$text-small-font-size: 1.2rem;
$text-small-line-height: 1.5;

$base-h1-font-size: 4.2rem;
$base-h1-font-size-m: 3.2rem;

$base-h2-font-size: 3.2rem;
$base-h1-font-size-m: 2.4rem;

$base-h3-font-size: 1.8rem;
$base-h3-font-size-m: 1.6rem;

$base-h4-font-size: 1.8rem;
$base-h4-font-size-m: 1.6rem;

$base-h5-font-size: 1.6em;

$section-max-width: 1200px;

$base-heading-color: $global-color;

$base-link-color: $global-color;
$base-link-hover-color: $global-color;

$container-padding-horizontal: 20px;
$container-padding-horizontal-s: 20px;
$container-padding-horizontal-m: 30px;

$section-padding-vertical: 30px;
$section-padding-vertical-m: 30px;

$margin-large-margin-l: 50px;

@mixin col-width {
  width: 100%;
  max-width: 494px;
}
