/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * sofia-pro:
 *   - http://typekit.com/eulas/00000000000000007735a148
 *   - http://typekit.com/eulas/00000000000000007735a14b
 *   - http://typekit.com/eulas/00000000000000007735a14e
 *   - http://typekit.com/eulas/00000000000000007735a151
 *   - http://typekit.com/eulas/00000000000000007735a155
 *   - http://typekit.com/eulas/00000000000000007735a158
 *   - http://typekit.com/eulas/00000000000000007735a15a
 *   - http://typekit.com/eulas/00000000000000007735a15b
 *   - http://typekit.com/eulas/00000000000000007735a15d
 *   - http://typekit.com/eulas/00000000000000007735a160
 *   - http://typekit.com/eulas/00000000000000007735a163
 *   - http://typekit.com/eulas/00000000000000007735a165
 *   - http://typekit.com/eulas/00000000000000007735a167
 *   - http://typekit.com/eulas/00000000000000007735a169
 *   - http://typekit.com/eulas/00000000000000007735a16b
 *   - http://typekit.com/eulas/00000000000000007735a16d
 * sofia-pro-condensed:
 *   - http://typekit.com/eulas/00000000000000007735a14a
 *   - http://typekit.com/eulas/00000000000000007735a14d
 *   - http://typekit.com/eulas/00000000000000007735a150
 *   - http://typekit.com/eulas/00000000000000007735a153
 *   - http://typekit.com/eulas/00000000000000007735a156
 *   - http://typekit.com/eulas/00000000000000007735a159
 *   - http://typekit.com/eulas/00000000000000007735a15f
 *   - http://typekit.com/eulas/00000000000000007735a15c
 *   - http://typekit.com/eulas/00000000000000007735a15e
 *   - http://typekit.com/eulas/00000000000000007735a161
 *   - http://typekit.com/eulas/00000000000000007735a162
 *   - http://typekit.com/eulas/00000000000000007735a164
 *   - http://typekit.com/eulas/00000000000000007735a166
 *   - http://typekit.com/eulas/00000000000000007735a168
 *   - http://typekit.com/eulas/00000000000000007735a16a
 *   - http://typekit.com/eulas/00000000000000007735a16c
 * sofia-pro-soft:
 *   - http://typekit.com/eulas/00000000000000007735a146
 *   - http://typekit.com/eulas/00000000000000007735a147
 *   - http://typekit.com/eulas/00000000000000007735a149
 *   - http://typekit.com/eulas/00000000000000007735a14c
 *   - http://typekit.com/eulas/00000000000000007735a14f
 *   - http://typekit.com/eulas/00000000000000007735a152
 *   - http://typekit.com/eulas/00000000000000007735a154
 *   - http://typekit.com/eulas/00000000000000007735a157
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-04-25 14:25:56 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jll3xbu&ht=tk&f=24536.24553.24554.24555.24556.24557.24558.24559.24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552.24576.24579.24580.24581.24582.24583.24584.24585.24586.24587.24588.24589.24590.24591.24592.24593&a=44739314&app=typekit&e=css");

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/745ea3/00000000000000007735a146/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/745ea3/00000000000000007735a146/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/745ea3/00000000000000007735a146/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/cdf40b/00000000000000007735a147/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/cdf40b/00000000000000007735a147/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/cdf40b/00000000000000007735a147/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/691282/00000000000000007735a149/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/691282/00000000000000007735a149/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/691282/00000000000000007735a149/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/0da228/00000000000000007735a14c/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/0da228/00000000000000007735a14c/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/0da228/00000000000000007735a14c/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/a928a5/00000000000000007735a14f/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a928a5/00000000000000007735a14f/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a928a5/00000000000000007735a14f/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/68d472/00000000000000007735a152/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/68d472/00000000000000007735a152/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/68d472/00000000000000007735a152/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/54ce76/00000000000000007735a154/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/54ce76/00000000000000007735a154/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/54ce76/00000000000000007735a154/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"sofia-pro-soft";
src:url("https://use.typekit.net/af/9f41be/00000000000000007735a157/30/l?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/9f41be/00000000000000007735a157/30/d?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/9f41be/00000000000000007735a157/30/a?primer=9063b564ad0e325177b5d10f2943648e84c3ace3b9977f8ffca3da9c2b77015d&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/5236f2/00000000000000007735a148/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/5236f2/00000000000000007735a148/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/5236f2/00000000000000007735a148/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/7b947d/00000000000000007735a14b/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/7b947d/00000000000000007735a14b/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/7b947d/00000000000000007735a14b/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/09d302/00000000000000007735a14e/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/09d302/00000000000000007735a14e/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/09d302/00000000000000007735a14e/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/e30e66/00000000000000007735a151/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e30e66/00000000000000007735a151/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e30e66/00000000000000007735a151/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/27cd4d/00000000000000007735a155/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/27cd4d/00000000000000007735a155/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/27cd4d/00000000000000007735a155/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/cce35f/00000000000000007735a158/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/cce35f/00000000000000007735a158/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/cce35f/00000000000000007735a158/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/1416a9/00000000000000007735a15a/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/1416a9/00000000000000007735a15a/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/1416a9/00000000000000007735a15a/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/1c49b4/00000000000000007735a15b/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/1c49b4/00000000000000007735a15b/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/1c49b4/00000000000000007735a15b/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/4abf65/00000000000000007735a15d/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/4abf65/00000000000000007735a15d/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/4abf65/00000000000000007735a15d/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/af2180/00000000000000007735a160/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/af2180/00000000000000007735a160/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/af2180/00000000000000007735a160/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/5e6988/00000000000000007735a163/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5e6988/00000000000000007735a163/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5e6988/00000000000000007735a163/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/37de2f/00000000000000007735a165/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/37de2f/00000000000000007735a165/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/37de2f/00000000000000007735a165/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/61b4ba/00000000000000007735a167/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/61b4ba/00000000000000007735a167/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/61b4ba/00000000000000007735a167/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/6c630f/00000000000000007735a169/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/6c630f/00000000000000007735a169/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/6c630f/00000000000000007735a169/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/0952ce/00000000000000007735a16b/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/0952ce/00000000000000007735a16b/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/0952ce/00000000000000007735a16b/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;
}

@font-face {
font-family:"sofia-pro";
src:url("https://use.typekit.net/af/4b1947/00000000000000007735a16d/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/4b1947/00000000000000007735a16d/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/4b1947/00000000000000007735a16d/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/5566a3/00000000000000007735a14a/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/5566a3/00000000000000007735a14a/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/5566a3/00000000000000007735a14a/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/cc741f/00000000000000007735a14d/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/cc741f/00000000000000007735a14d/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/cc741f/00000000000000007735a14d/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/8b3e11/00000000000000007735a150/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8b3e11/00000000000000007735a150/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8b3e11/00000000000000007735a150/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/2fe268/00000000000000007735a153/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2fe268/00000000000000007735a153/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2fe268/00000000000000007735a153/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/716b57/00000000000000007735a156/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/716b57/00000000000000007735a156/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/716b57/00000000000000007735a156/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/53cc4a/00000000000000007735a159/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i2&v=3") format("woff2"),url("https://use.typekit.net/af/53cc4a/00000000000000007735a159/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i2&v=3") format("woff"),url("https://use.typekit.net/af/53cc4a/00000000000000007735a159/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i2&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/5b7a66/00000000000000007735a15f/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/5b7a66/00000000000000007735a15f/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/5b7a66/00000000000000007735a15f/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/b8774d/00000000000000007735a15c/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/b8774d/00000000000000007735a15c/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/b8774d/00000000000000007735a15c/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/a33c9d/00000000000000007735a15e/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/a33c9d/00000000000000007735a15e/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/a33c9d/00000000000000007735a15e/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/fa5448/00000000000000007735a161/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/fa5448/00000000000000007735a161/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/fa5448/00000000000000007735a161/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/cf0830/00000000000000007735a162/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cf0830/00000000000000007735a162/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cf0830/00000000000000007735a162/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/7da024/00000000000000007735a164/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/7da024/00000000000000007735a164/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/7da024/00000000000000007735a164/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/ef0e2d/00000000000000007735a166/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/ef0e2d/00000000000000007735a166/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/ef0e2d/00000000000000007735a166/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/1ff8be/00000000000000007735a168/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/1ff8be/00000000000000007735a168/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/1ff8be/00000000000000007735a168/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/3e4ce1/00000000000000007735a16a/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/3e4ce1/00000000000000007735a16a/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/3e4ce1/00000000000000007735a16a/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"sofia-pro-condensed";
src:url("https://use.typekit.net/af/ef193d/00000000000000007735a16c/30/l?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/ef193d/00000000000000007735a16c/30/d?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/ef193d/00000000000000007735a16c/30/a?primer=5744cda045e8644a81ddaa228a0ff9bc90ea968600692ad28a05324bb9ca96f2&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;
}

.tk-sofia-pro-soft { font-family: "sofia-pro-soft",sans-serif; }
.tk-sofia-pro { font-family: "sofia-pro",sans-serif; }
.tk-sofia-pro-condensed { font-family: "sofia-pro-condensed",sans-serif; }