.footer {
  padding-top: 60px;
  background: $black;
  color: $white;

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 30px;
  }

  & > .uk-container {
    &:last-of-type {
      & > div {
        position: relative;

        &:first-of-type {
          padding: 45px 0;

          @media (min-width: $breakpoint-medium) {
            padding: 0;
          }
        }

        &:last-of-type {
          padding: 25px 0;

          @media (min-width: $breakpoint-medium) {
            padding: 0;
          }

          &:before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            width: 100vw;
            height: 1px;
            background: $white;
            content: "";

            @media (min-width: $breakpoint-medium) {
              content: none;
            }
          }
        }

        & > * {
          position: relative;
          padding-right: 15px;
          font-size: 1.6rem;
          line-height: 1.2;
          color: #BABABA;

          a {
            color: #BABABA;
          }

          .divider {
            display: none;
            margin: 0 10px;

            @media (min-width: $breakpoint-medium) {
              display: block;
            }
          }

          @media (min-width: $breakpoint-medium) {
            padding-top: 10px;
            font-size: 0.7rem;
            line-height: 1;
      
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 2px;
              background: $white;
            }
          }
        }
      }
    }

    &:first-child {
      @media (min-width: $breakpoint-medium) {
        margin-bottom: 100px;
      }
    }
  }

  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white;
  }

  h3 {
    margin-bottom: 78px;
    color: $white;
    font-size: 32px;
    line-height: 39px;
  }

  h5 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
  }

  ul {
    li {
      margin-bottom: 1em;
    }
  }

  .uk-icon-button {
    color: $global-color;

    svg {
      color: $global-color;
    }
  }

  .socials {
    position: relative;
    padding-top: 15px;
    padding-bottom: 45px;
    margin-top: 80px;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 100vw;
      height: 1px;
      background: $white;
      content: "";
    }

    &:after {
      top: 100%;
    }

    @media (min-width: $breakpoint-medium) {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;

      &:before, &:after {
        content: none;
      }
    }
  }
}
