$navbar-background: $white;

$navbar-nav-item-color: $global-color;
$navbar-nav-item-hover-color: rgba($global-color, 0.6);

$navbar-dropdown-background: $white;
$navbar-dropdown-color: $black;
$navbar-dropdown-padding: 0;
$navbar-dropdown-margin: 30px;

@mixin hook-navbar {
  .uk-navbar-nav {
    flex-direction: column;

    margin-top: 130px;
    margin-left: -40px;

    @media (min-width: 375px) {
      margin-top: 40px;
      margin-left: 0;
    }

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
      margin-top: 0;
    }
  }
}

@mixin hook-navbar-nav-item {
  min-height: 0;
  padding: 0;
  font-size: 3.2rem;
  line-height: 1.8;
  text-decoration: none;
  justify-content: left;

  &.lang {
    border-top: 2px solid $black;

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.0rem;
    line-height: 2;
    margin-left: 80px;
    transition: 0.4s color;
  }
}

@mixin hook-navbar-dropdown {
  position: static;
  display: block;
  min-width: 0;
  margin-top: 0 !important;

  @media (min-width: $breakpoint-medium) {
    display: none;
    position: absolute;
    min-width: 321px;
    margin-top: 27px !important;
    background: $black;
    color: $white;

    &.uk-open {
      top: 55px;
    }

    li {
      position: relative;
    }
  }
}

@mixin hook-navbar-dropdown-nav-item {
  color: $global-color;
  font-size: 2.4rem;
  line-height: 1;
  white-space: nowrap;
  margin-left: 30px;

  @media (min-width: $breakpoint-medium) {
    padding: 25px;
    margin-left: 0;
    color: $white;
    font-size: 1.0rem;
    font-weight: 300;

    &:hover {
      color: $white !important;

      img {
        right: 20px;
      }
    }
  }

  span {
    white-space: normal;
    display: inline-block;
  }

  img {
    width: 55px;
    margin-right: 12px;
    margin-top: -8px;
    vertical-align: top;

    @media (min-width: $breakpoint-medium) {
      vertical-align: middle;
    }

    &:last-of-type {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    @media (min-width: $breakpoint-medium) {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      width: 20px;
      margin-right: 0;
      margin-top: 0;
      transition: 0.4s right;
    }
  }
}
