.noUi-target {
  background: $black;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.noUi-horizontal {
  width: calc(100% - 30px);
  height: 3px;
  margin-left: 15px;

  .noUi-handle {
    top: -9.5px;
    right: -9.5px;
    width: 19px;
    height: 19px;

    background: $black;
    border: 0;
    border-radius: 50%;
    box-shadow: none;

    @media (min-width: $breakpoint-medium) {
      top: -13.5px;
      right: -13.5px;
      width: 29px;
      height: 29px;
    }

    &[aria-valuemax="1000.0"] {
      &[aria-valuenow="0.0"],
      &[aria-valuenow="1000.0"] {
        .noUi-tooltip {
          display: none;
        }
      }
    }

    &[aria-valuemax="10.0"] {
      &[aria-valuenow="0.0"],
      &[aria-valuenow="10.0"] {
        .noUi-tooltip {
          display: none;
        }
      }
    }

    &[aria-valuemax="5.0"] {
      &[aria-valuenow="0.0"],
      &[aria-valuenow="5.0"] {
        .noUi-tooltip {
          display: none;
        }
      }
    }

    &[aria-valuemin="1.0"] {
      &[aria-valuenow="1.0"] {
        .noUi-tooltip {
          display: none;
        }
      }
    }

    &:before,
    &:after {
      content: none;
    }
  }
}

.noUi-pips-horizontal {
  top: -3px;
  height: 10px;
  padding: 0;

  @media (min-width: $breakpoint-medium) {
    top: -6px;
    height: 35px;
  }
}

.noUi-marker,
.noUi-marker-large {
  background: $black;
  height: 8px;

  @media (min-width: $breakpoint-medium) {
    height: 15px;
  }
}

.noUi-value {
  color: $black;
  font-size: 1.8rem;
  line-height: 1.5;

  @media (min-width: $breakpoint-medium) {
    font-size: 24px;
  }
}

.noUi-marker.noUi-marker-horizontal {
  margin-left: 0;
  height: 10px;

  @media (min-width: $breakpoint-medium) {
    height: 15px;
  }
}

.noUi-horizontal .noUi-tooltip {
  background: none;
  border: 0;
  color: rgba($black, 0.6);
  bottom: 100%;
  padding: 0;
  font-size: 1.8rem;
  line-height: 1.5;

  @media (min-width: $breakpoint-medium) {
    font-size: 0.9rem;
  }
}
