$offcanvas-bar-background: $white;
$offcanvas-bar-width: 100%;
$offcanvas-bar-width-m: 100%;
$offcanvas-bar-color-mode: none;

@mixin hook-offcanvas-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

@mixin hook-offcanvas-close {
  top: 24px;
  right: 32px;
  padding: 0;
}

@mixin hook-offcanvas-misc {
  #offcanvas-nav {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: block;
    }

    .logo {
      position: absolute;
      left: 32px;
      top: 24px;
      z-index: 1;
    }
  }
}