$section-primary-color-mode: $global-color;

$section-padding-vertical: 30px;
$section-padding-vertical-m: 0px; //135px;

@mixin hook-section-primary() {
  padding-top: 200px;
  padding-bottom: 0;
  background: $mint-green;
}

@mixin hook-section() {
  
}
