$tab-margin-horizontal: 0;
$tab-item-padding-vertical: 31px;
$tab-item-padding-horizontal: 27px;
$tab-item-color: $global-color;

@mixin hook-tab {
  position: relative;
  margin: 33px auto 0;
  z-index: 1;
  max-width: $section-max-width;
  border-right: 2px solid $global-color;
}

@mixin hook-tab-item {
  border: 2px solid $global-color;
  border-right: 0;
  font-size: 28px;
  text-align: left;
  transition: 0.4s color;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    background-color: $global-color;
    transition: 0.4s background-color;
  }

  &:after {
    width: 25px;
    height: 3px;
    right: 27px;
  }

  &:before {
    width: 3px;
    height: 25px;
    right: 38px;
  }
}

@mixin hook-tab-item-hover {
  color: rgba($global-color, 0.6);

  &:before,
  &:after {
    background-color: rgba($global-color, 0.6);
  }
}

@mixin hook-tab-item-active {
  background: #fff;
  border-bottom-color: #fff;

  &:before {
    content: none;
  }
}

@mixin hook-switcher-misc {
  .tab-items {
    position: relative;
    padding: 0;
    margin-top: 0;
    background: #fff;
    list-style-type: none;

    @media (min-width: $breakpoint-medium) {
      padding: 36px 0 0;
    }

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;
      border-bottom: 2px solid $global-color;
    }

    .tab-name {
      padding-top: 8px;
      padding-bottom: 16px;

      h3 {
        margin-top: 0;
      }

      @media (min-width: $breakpoint-medium) {
        display: none;
      }
    }
  }
}
