@media screen and (max-width: 991px) {

  html, body {
    position: relative;
    max-width: 100%;
  }

  body {
    min-width: 320px;
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }

  header,
  main,
  footer {
    max-width: 100%;
  }

}


body.blog#blog-page {

  .filters-opener, .close-filters, .blog-page__articles-filters--sort {
    display: none;
  }

  @media screen and (max-width: 991px) {

    .uk-container {
      max-width: 100%;
    }

    .uk-button {
      position: relative;
      height: 48px;
      padding: 5px 65px 10px 35px;
      line-height: 1;
      &::after {
        position: absolute;
        top: 11px;
        right: 20px;
        zoom: 0.9;
        content: url('../img/icons/arrow_r.svg');
      }
    }


    .blog-page {

      &__main-content {
        display: flex;
        flex-direction: column;
      }


      &__section {
        order: 2;

        .uk-container {
          padding: 0;
        }

        h1 {
          margin-bottom: 10px;
          font-size: 38px;
          font-weight: 500;
          line-height: 42px;
        }

      }


      &__articles-filters {

        order: 1;
        display: flex;
        padding: 15px 0;
        border-bottom: 2px solid #000;
        background: #FFF;

        .filters-opener {
          display: block;
          position: relative;
          margin: 10px auto;
          padding: 0 30px;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          color: #000;
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            zoom: 1;
            content: url('../img/icons/arrow_d.svg');
          }
        }

        .close-filters {
          display: none;
          position: relative;
          width: 40px;
          height: 40px;
          margin: 15px 30px 30px;
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: url('../img/icons/arrow_l.svg');
            zoom: 1;
          }
        }

        .uk-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &--filters, &--categories {
          justify-content: flex-start;
        }

        &--filters {
          display: none;
        }

        &--categories {

          display: none;
          order: 1;
          margin-bottom: 0;
          padding: 0 30px 10px;
          border-top: none;
          border-bottom: 2px solid #000;

        }

        &--sort {

          display: none;
          order: 2;
          padding: 20px 30px 10px;

          .option {
            margin: 10px 0 20px;
          }

          .sort-options-label {
            margin-bottom: 20px;
          }

          .sort-option-value {
            display: inline-block;
            vertical-align: top;
            height: 32px;
            margin-right: 10px;
            padding: 5px 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            border: 2px solid #606060;
            border-radius: 22px;
            box-sizing: border-box;
            color: #606060;
          }

        }

        .filters-options-label, .sort-options-label {
          display: block;
          flex: 1 1 100%;
          margin: 0 0 15px;
          font-size: 15px;
          font-weight: 500;
          color: #707070;
        }

        .uk-button {
          height: 32px;
          margin: 0 10px 20px 0;
          padding: 5px 10px;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          &::after {
            display: none;
          }
        }

        &--categories-label {
          display: none;
        }

      }

      &__main-article {

        height: auto;
        padding: 40px 30px 200px;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 140% auto;
        background-color: #D2D2D2;

        h1, p:not(.read-time) {
          max-width: 90%;
        }

        p:not(.read-time) {
          margin: 0;
          font-size: 16px;
          line-height: 24px;
        }

        p.read-time {
          display: inline-block;
          margin-top: 10px;
          padding-top: 25px;
          padding-right: 40px;
          border-top: 2px solid #000;
        }

        button {
          display: block;
        }

      }


      &__articles-list, &__most-popular {

        padding: 80px 0 0;

        .uk-flex-column, .uk-flex-between, .uk-flex-wrap, .uk-width-1-4, .uk-width-3-4, .uk-width-1-2 {
          flex: 1 1 100%;
          width: 100%;
        }

        .uk-flex-between {
          flex-direction: column;
        }

        .uk-width-1-4 {
          order: 2;
        }

        .uk-width-3-4 {
          order: 1;
        }

        .teaser.big {

          margin-bottom: 80px;
          background-color: #D2D2D2;

          .inner {

            display: flex;
            flex-direction: column;
            width: 100%;

            .image {
              order: 2;
              height: auto;
              min-height: 200px;
              background-position: bottom center;
              background-repeat: no-repeat;
              background-size: 140% auto;
            }

            .title, .desc {
              max-width: 90%;
              padding: 0 30px;
            }

            .title {
              margin-top: 40px;
              margin-bottom: 10px;
              font-size: 38px;
              font-weight: 500;
              line-height: 42px;
            }

            .desc {
              margin: 0;
              font-size: 16px;
              line-height: 24px;
            }

            .time {
              align-self: flex-start;
              margin: 10px 30px;
              padding: 25px 40px 0 0;
              font-size: 18px;
              color: #000;
              border-top: 2px solid #000;
            }

            button {
              display: block;
              margin-left: 30px;
              align-self: flex-start;
              font-size: 24px;
            }

          }



        }

        .teaser:not(.big) {

          margin-bottom: 80px;
          background-color: #FAFAFA;

          &:last-child {
            margin-bottom: 40px;
          }

          .inner {

            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 25px;

            .title, .image, .desc, .time, button {
              max-width: 100%;
              text-align: center;
              box-sizing: border-box;
            }

            .title, .image, .desc {
              padding: 0 30px;
            }

            .image {
              order: 1;
              height: 250px;
              margin-bottom: 20px;
              padding: 0 30px;
              background-position: center;
            }

            .title {
              order: 3;
              margin-bottom: 10px;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
            }

            .time {
              order: 2;
              margin: 0 0 10px;
              text-transform: uppercase;
            }

            .desc {
              order: 4;
              font-size: 16px;
              line-height: 20px;
            }

            button {
              order: 5;
              align-self: center;
              width: 46px;
              height: 46px;
              padding: 46px 46px 0 0;
              border-radius: 50px;
              &::after {
                width: 20px;
                height: 20px;
                top: 15px;
                left: 15px;
                zoom: 0.8;
              }
            }

          }

        }

      }


      &__uk-pagination {

        margin: 0 0 60px;

        li {

          height: 40px;
          padding: 0;

          a, span {
            padding: 0 10px;
            font-size: 40px;
            color: #000;
            line-height: 35px;
          }

          &.uk-active {
            span {
              font-weight: 700;
              text-decoration: underline;
            }
          }

          .uk-pagination-previous, .uk-pagination-next  {
            svg {
              width: 20px;
              height: 50px;
              margin-top: -5px;
              vertical-align: top;
            }
          }

          &.previous {
            margin-right: 10px;
          }

          &.next {
            margin-left: 10px;
          }

          &.item {
            border-right: 3px solid #000;
            &.last {
              border-right: none;
            }
          }

        }

      }


      &__most-popular {

        padding: 64px 0 64px 30px;
        overflow-x: scroll;
        border-top: 2px solid #000;

        .popular {
          padding: 0;
          border-top: none;
          h4 {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 600;
          }
        }

        .uk-flex-between {
          flex-direction: row;
        }

        .uk-width-1-3 {

          flex: 0 0 100%;
          width: 100%;
          max-width: 263px;
          height: 100%;
          margin-right: 30px;
          margin-bottom: 0;
          overflow: hidden;

            .title {
              padding: 0 15px!important;
            }

            .desc {
              padding: 0 10px!important;
            }

        }

      }


    }
  }

}



.neutral-printing-page {


    .uk-container {

        align-items: flex-start;

        .section-header, .section-content {
            @media screen and (max-width: 992px) {
            text-align: center;
            }
        }

        .section-header {
          flex: 1 1 100%;
          margin-bottom: 50px;
          font-weight: 500;
          @media screen and (max-width: 992px) {
          margin-bottom: 40px;
          font-size: 32px;
          line-height: 48px;
          }
        }

        .section-content {
            align-items: flex-start;
            flex-direction: column;
            @media screen and (min-width: 992px) {
              flex-direction: row;
            }
        }

        .form-header {
            font-size: 18px;
            line-height: 28px;
        }

        .form-content {
            position: relative;
        }

        .text-input, .form-button {
          height: 44px;
          box-sizing: border-box;
          border-radius: 25px;
          border-width: 2px;
          outline: none;
        }

        .text-input {
            width: 100%;
            padding-left: 15px;
            padding-right: 50px;
            font-size: 18px;
            color: #8D8D8D;
            @media screen and (min-width: 992px) {
            padding-left: 20px;
            padding-right: 200px;
            }
            &::placeholder {
              line-height: 50px;
            }
        }

        .form-button {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 13px;
            @media screen and (max-width: 992px) {
            width: 24px;
            height: 24px;
            border: none;
            text-indent: 5000px;
            background: url("./../img/icons/loop.png") center center no-repeat;
            background-size: 17px auto;
            }
            @media screen and (min-width: 992px) {
            top: 0;
            right: 0;
            padding: 0 35px;
            color: #FFF;
            background-color: #000;
            text-indent: 0;
            }
            &:hover {
               opacity: 0.8;
            }
        }

    }


    &__header {

        height: auto!important;
        background-color: #FAFAFA;
        background-image: url(../img/neutral_printing_image.png);
        background-position: top center;

        @media screen and (min-width: 992px) {
        padding-top: 100px;
        padding-bottom: 550px;
        }

        @media screen and (max-width: 992px){

        padding: 40px 0 400px;
        background-image: url(../img/neutral_printing_image_mob.png);
        background-size: 100% auto;
        background-position-y: calc(100% - 50px)!important;

            h1 {
              padding: 0 30px;
              font-size: 38px;
              line-height: 42px;
            }

        }



    }


    &__check-product {

        padding: 50px 0 75px;
        background-color: #FFF;
        @media screen and (min-width: 992px) {
        padding: 100px 0;
        }

        .check-product-form, .check-product-data {
          flex: 1 1 100%;
          flex-direction: column;
          @media screen and (min-width: 992px) {
          flex: 1 1 50%;
          width: 50%;
          max-width: 50%;
          }
        }

        .check-product-form {

            @media screen and (min-width: 992px) {
            padding-right: 200px;
            }

            .form-header, .form-content {}

            .form-header {
                margin-bottom: 40px;
                @media screen and (min-width: 992px) {
                margin-bottom: 30px;
                }
            }

        }

        .check-product-data {

            display: none;

            @media screen and (min-width: 992px) {
                display: flex;
            }

            p {
                margin-bottom: 24px;
                font-size: 20px;
                line-height: 24px;
            }

            span {
                &.data-value {
                    font-weight: 600;
                }
            }

        }

    }


    &__find-partner {

        padding: 50px 0 40px;
        background-color: #DEDEDE;
        @media screen and (min-width: 992px) {
        padding: 100px 0;
        }

        .find-partner-label, .find-partner-search {
            flex-direction: column;
            box-sizing: border-box;
            flex: 1 1 100%;
        }

        .find-partner-label {
          @media screen and (min-width: 992px) {
          flex: 1 1 60%;
          width: 60%;
          max-width: 60%;
          padding-right: 200px;
          }
        }

        .find-partner-search {
          @media screen and (min-width: 992px) {
          flex: 1 1 40%;
          width: 40%;
          max-width: 40%;
          }
        }

        .find-partner-list {

            position: absolute;
            top: 44px;
            left: 20px;
            width: calc(100% - 40px);
            z-index: 100;

            .item {
                padding: 5px 10px;
                font-size: 18px;
                line-height: 20px;
                background: #FFF;
                border: 2px solid #000;
                border-top: none;
                &.no-results {
                  border-color: #FF0000;
                  color: #FF0000;
                }
            }

        }

      .find-partner-details {

          position: relative;
          padding: 60px 30px 40px;
          background: #FFF;

          a {
              position: absolute;
              top: 40px;
              right: 30px;
              font-size: 20px;
              text-transform: uppercase;
              color: #000;
          }

          .details {
              color: #707070;
              font-size: 20px;
              line-height: 30px;
          }

      }

      .find-partner-map {
        @media screen and (max-width: 992px) {
          margin: 40px -30px 0;
        }
      }

    }


    &__footer {

        padding: 55px 0;
        background-color: #FF7101;
        @media screen and (min-width: 992px) {
        padding: 125px 0;
        }

        .uk-container {
            @media screen and (max-width: 992px) {
            flex-direction: column;
            }
        }

        .footer-header, .footer-content {
            flex: 1 1 100%;
            @media screen and (min-width: 992px) {
            flex: 1 1 50%;
            }
        }

        .footer-header {
            .section-header {
                @media screen and (max-width: 992px) {
                font-size: 32px;
                text-align: center;
                line-height: 40px;
                }
                @media screen and (min-width: 992px) {
                  max-width: 70%;
                  line-height: 56px;
                }
            }
        }

        .footer-content {

            justify-content: center;
            align-items: center;
            @media screen and (max-width: 992px) {
            width: 100%;
            }

            .uk-button {
                position: relative;
                height: 60px;
                padding: 0 70px 0 40px;
                font-size: 32px;
                line-height: 54px;
                @media screen and (max-width: 992px) {
                width: 100%;
                font-size: 24px;
                }
                &::after {
                    position: absolute;
                    top: 5px;
                    right: 25px;
                    content: url('../img/icons/arrow_r.svg');
                }
                &:hover {
                    padding-right: 80px;
                }
            }

        }

    }

}
